.desktop {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #e0e0e0;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.desktop .overlap {
  position: absolute;
  width: 1350px;
  height: 920px;
  top: 52px;
  left: 45px;
  background-color: #f5f5f5;
  border-radius: 15px;
}

.desktop .painel-geral {
  position: absolute;
  width: 353px;
  height: 919px;
  top: 1px;
  left: 0;
}

.desktop .overlap-group {
  position: relative;
  width: 351px;
  height: 919px;
  background-color: #304052;
  border-radius: 15px 0px 0px 15px;
}

.desktop .sair {
  position: absolute;
  width: 119px;
  height: 40px;
  top: 821px;
  left: 55px;
}

.desktop .img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .text-wrapper {
  position: absolute;
  top: 2px;
  left: 60px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .estoque {
  position: absolute;
  width: 179px;
  height: 40px;
  top: 233px;
  left: 55px;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 2px;
  left: 60px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.desktop .painel {
  position: absolute;
  width: 193px;
  height: 40px;
  top: 145px;
  left: 55px;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 38px;
  left: 38px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .saida {
  position: absolute;
  width: 143px;
  height: 40px;
  top: 323px;
  left: 55px;
}

.desktop .saida-2 {
  position: absolute;
  top: 0;
  left: 60px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.desktop .div-wrapper {
  position: absolute;
  width: 235px;
  height: 75px;
  top: 39px;
  left: 419px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .overlap-2 {
  position: absolute;
  width: 775px;
  height: 50px;
  top: 141px;
  left: 419px;
}

.desktop .pesquia {
  position: absolute;
  width: 775px;
  height: 50px;
  top: 0;
  left: 0;
}

.desktop .overlap-3 {
  position: absolute;
  width: 150px;
  height: 50px;
  top: 0;
  left: 623px;
  background-color: #35ae35;
  border-radius: 5px;
}

.desktop .text-wrapper-5 {
  position: absolute;
  width: 116px;
  top: 11px;
  left: 21px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .rectangle {
  width: 600px;
  height: 50px;
  top: 0;
  background-color: #b7b7b780;
  border-radius: 5px;
  position: absolute;
  left: 0;
}

.desktop .text-wrapper-6 {
  position: absolute;
  width: 275px;
  top: 12px;
  left: 17px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #0000004c;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .filtro {
  position: absolute;
  width: 127px;
  height: 40px;
  top: 209px;
  left: 419px;
}

.desktop .overlap-4 {
  position: relative;
  width: 125px;
  height: 40px;
  background-color: #5b5b5b;
  border-radius: 5px;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 6px;
  left: 44px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .filtro-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 6px;
  left: 15px;
  object-fit: cover;
}

.desktop .tabela {
  position: absolute;
  width: 870px;
  height: 562px;
  top: 300px;
  left: 419px;
}

.desktop .overlap-5 {
  position: relative;
  width: 871px;
  height: 563px;
}

.desktop .rectangle-2 {
  width: 871px;
  height: 561px;
  top: 2px;
  background-color: #f5f5f5;
  border: 0.5px solid;
  border-color: #000000cc;
  position: absolute;
  left: 0;
}

.desktop .rectangle-3 {
  width: 871px;
  height: 92px;
  top: 0;
  background-color: #f5f5f5;
  border: 0.5px solid;
  border-color: #000000cc;
  position: absolute;
  left: 0;
}

.desktop .nome {
  position: absolute;
  width: 241px;
  height: 488px;
  top: 36px;
  left: 28px;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-9 {
  position: absolute;
  width: 227px;
  height: 45px;
  top: 83px;
  left: 0;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  position: absolute;
  width: 227px;
  height: 45px;
  top: 155px;
  left: 0;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-11 {
  position: absolute;
  width: 227px;
  height: 45px;
  top: 227px;
  left: 0;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-12 {
  position: absolute;
  width: 227px;
  height: 45px;
  top: 299px;
  left: 0;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-13 {
  position: absolute;
  width: 227px;
  height: 45px;
  top: 371px;
  left: 0;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-14 {
  position: absolute;
  width: 227px;
  height: 45px;
  top: 443px;
  left: 0;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .cate {
  position: absolute;
  width: 194px;
  height: 488px;
  top: 36px;
  left: 308px;
}

.desktop .text-wrapper-15 {
  position: absolute;
  width: 180px;
  height: 45px;
  top: 83px;
  left: 0;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-16 {
  top: 155px;
  position: absolute;
  width: 180px;
  height: 45px;
  left: 0;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-17 {
  top: 227px;
  position: absolute;
  width: 180px;
  height: 45px;
  left: 0;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-18 {
  top: 299px;
  position: absolute;
  width: 180px;
  height: 45px;
  left: 0;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-19 {
  top: 371px;
  position: absolute;
  width: 180px;
  height: 45px;
  left: 0;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-20 {
  top: 443px;
  position: absolute;
  width: 180px;
  height: 45px;
  left: 0;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .cod {
  position: absolute;
  width: 194px;
  height: 488px;
  top: 36px;
  left: 506px;
}

.desktop .quant {
  position: absolute;
  width: 168px;
  height: 488px;
  top: 36px;
  left: 698px;
}

.desktop .text-wrapper-21 {
  width: 150px;
  top: 83px;
  left: 4px;
  position: absolute;
  height: 45px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-22 {
  width: 150px;
  top: 155px;
  left: 4px;
  position: absolute;
  height: 45px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-23 {
  width: 150px;
  top: 227px;
  left: 4px;
  position: absolute;
  height: 45px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-24 {
  width: 150px;
  top: 299px;
  left: 4px;
  position: absolute;
  height: 45px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-25 {
  width: 150px;
  top: 371px;
  left: 4px;
  position: absolute;
  height: 45px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-26 {
  width: 150px;
  top: 443px;
  left: 4px;
  position: absolute;
  height: 45px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .copy {
  position: absolute;
  width: 295px;
  height: 24px;
  top: 989px;
  left: 607px;
}

.desktop .text-wrapper-27 {
  position: absolute;
  top: 0;
  left: 35px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .image {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  object-fit: cover;
}
