{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-estoque.css' %}" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap">
          <div class="painel-geral">
            <div class="overlap-group">
              <div class="sair">
                <img class="img" src="{% static 'img/sair.png' %}" />
                <div class="text-wrapper">Sair</div>
              </div>
              <div class="estoque">
                <img class="img" src="{% static 'img/em-estoque.png' %}" />
                <div class="text-wrapper-2">Estoque</div>
              </div>
              <div class="painel">
                <img class="img" src="{% static 'img/painel-de-controle.png' %}" />
                <div class="text-wrapper-2">Produtos</div>
              </div>
              <div class="text-wrapper-3">Inventário</div>
              <div class="saida">
                <img class="img" src="{% static 'img/verificar.png' %}" />
                <div class="saida-2">Saída</div>
              </div>
            </div>
          </div>
          <div class="div-wrapper"><div class="text-wrapper-4">Estoque</div></div>
          <div class="overlap-2">
            <div class="pesquia">
              <div class="overlap-3"><div class="text-wrapper-5">Pesquisar</div></div>
              <div class="rectangle"></div>
            </div>
            <div class="text-wrapper-6">Pesquisar um item...</div>
          </div>
          <div class="filtro">
            <div class="overlap-4">
              <div class="text-wrapper-7">Filtro</div>
              <img class="filtro-2" src="{% static 'img/filtro.png' %}" />
            </div>
          </div>
          <div class="tabela">
            <div class="overlap-5">
              <div class="rectangle-2"></div>
              <div class="rectangle-3"></div>
              <div class="nome">
                <div class="text-wrapper-8">Descrição do Produto</div>
                <div class="text-wrapper-9">Teclado</div>
                <div class="text-wrapper-10">Mouse</div>
                <div class="text-wrapper-11">Monitor</div>
                <div class="text-wrapper-12">Mousepad</div>
                <div class="text-wrapper-13">Headset</div>
                <div class="text-wrapper-14">HDMI</div>
              </div>
              <div class="cate">
                <div class="text-wrapper-8">Categoria</div>
                <div class="text-wrapper-15">Eletrônico</div>
                <div class="text-wrapper-16">Eletrônico</div>
                <div class="text-wrapper-17">Eletrônico</div>
                <div class="text-wrapper-18">Eletrônico</div>
                <div class="text-wrapper-19">Eletrônico</div>
                <div class="text-wrapper-20">Eletrônico</div>
              </div>
              <div class="cod">
                <div class="text-wrapper-8">Código</div>
                <div class="text-wrapper-15">395601</div>
                <div class="text-wrapper-16">425078</div>
                <div class="text-wrapper-17">043881</div>
                <div class="text-wrapper-18">037878</div>
                <div class="text-wrapper-19">170213</div>
                <div class="text-wrapper-20">088723</div>
              </div>
              <div class="quant">
                <div class="text-wrapper-8">Quantidade</div>
                <div class="text-wrapper-21">12</div>
                <div class="text-wrapper-22">10</div>
                <div class="text-wrapper-23">20</div>
                <div class="text-wrapper-24">10</div>
                <div class="text-wrapper-25">5</div>
                <div class="text-wrapper-26">0</div>
              </div>
            </div>
          </div>
        </div>
        <div class="copy">
          <div class="text-wrapper-27">2025 Powered by LogiCenter</div>
          <img class="image" src="img/image-1.png" />
        </div>
      </div>
    </div>
  </body>
</html>
